DEBUG=True

# DATABASES

POSTGRES_USER=ukhaan
POSTGRES_PASSWORD=ukhaan-secret
POSTGRES_DATABASE=ukhaan_core
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# REDIS

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=REDIS_PASSWORD
REDIS_DB=0

# META

FACEBOOK_APP_ID=APP_ID
FACEBOOK_APP_SECRET=APP_SECRET

# DJANGO

SECRET_KEY=django-secret-key

# JWT

JWT_SECRET=jwt-secret-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_TTL=604800